<mat-card>
  <mat-card-header>
    <mat-card-title>Lista de Empleados</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex; justify-content: center; margin-bottom: 20px;">
      <mat-form-field appearance="fill">
        <mat-label>Ingrese el ID del empleado</mat-label>
        <input matInput type="text" [(ngModel)]="employeeId" required>
        <mat-error *ngIf="showError">Por favor, ingrese un número válido</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="searchEmployeeById()" style="margin-left: 20px;">Buscar</button>
    </div>

    <!-- Muestra un mensaje de error si showError es true -->
    <div *ngIf="showError" style="color: red; text-align: center;">
      {{ errorMessage }}
    </div>

    <table mat-table [dataSource]="listEmployee" class="mat-elevation-z8" style="width: 100%;">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <!-- employeeName Column -->
      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
      </ng-container>
      <!-- employeeAge Column -->
      <ng-container matColumnDef="employeeAge">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeAge}} </td>
      </ng-container>
      <!-- employeeEmail Column -->
      <ng-container matColumnDef="employeeEmail">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeEmail}} </td>
      </ng-container>
      <!-- employeeSalary Column -->
      <ng-container matColumnDef="employeeSalary">
        <th mat-header-cell *matHeaderCellDef> Salario </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeSalary}} </td>
      </ng-container>
      <!-- employeeSalaryAnnual Column -->
      <ng-container matColumnDef="employeeSalaryAnnual">
        <th mat-header-cell *matHeaderCellDef> Salario Anual </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeSalaryAnnual}} </td>
      </ng-container>
      <!-- profileImage Column -->
      <ng-container matColumnDef="profileImage">
        <th mat-header-cell *matHeaderCellDef> Emoji </th>
        <td mat-cell *matCellDef="let element"> {{element.profileImage}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
